global
    maxconn 4096
    log stdout format raw daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    option  http-server-close
    option  forwardfor
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend public
    bind *:80
    bind *:443 ssl crt /usr/local/etc/haproxy/certs/learn.golum.io.pem crt /usr/local/etc/haproxy/certs/sso.golum.io.pem crt /usr/local/etc/haproxy/certs/grafana.golum.io.pem

    http-request redirect scheme https code 301 if !{ ssl_fc }
    http-request set-header X-Forwarded-Proto https
    http-request set-header X-Forwarded-Port 443

    acl host_learn hdr(host) -i learn.golum.io
    acl host_grafana hdr(host) -i grafana.golum.io
    acl host_sso hdr(host) -i sso.golum.io

    use_backend varnish if host_learn
    use_backend grafana if host_grafana
    use_backend keycloak if host_sso

    default_backend grafana

backend varnish
    mode http
    option httpchk GET /
    default-server inter 5s fall 3 rise 2
    server varnish varnish:6081 check

backend grafana
    mode http
    server grafana grafana:3000 check

backend keycloak
    mode http
    http-request set-header X-Forwarded-Proto https
    server keycloak keycloak:8080 check

frontend varnish_ingress
    bind *:8080
    mode http
    default_backend moodle_apps

backend moodle_apps
    mode http
    balance roundrobin
    http-request set-header X-Forwarded-Proto https
    http-request set-header X-Forwarded-Port 443
    option httpchk GET /
    http-check expect rstatus (2|3|4)..
    server moodle1 moodle1:80 check
    server moodle2 moodle2:80 check
