POSTGRES_SUPERUSER=postgres
POSTGRES_SUPERUSER_PASSWORD=postgrespassword

MOODLE_DB_NAME=moodle
MOODLE_DB_USER=moodle
MOODLE_DB_PASSWORD=moodlepass

KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=keycloakpass

POSTGRES_MONITOR_USER=monitoring
POSTGRES_MONITOR_PASSWORD=monitoringpass

MOODLE_ADMIN_USER=admin
MOODLE_ADMIN_PASSWORD=ChangeMe123!
MOODLE_ADMIN_EMAIL=admin@example.com
MOODLE_SITE_NAME=Golum Moodle

KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=ChangeMeNow!

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=ChangeMe123!

HAPROXY_HTTP_PORT=80
HAPROXY_HTTPS_PORT=443

TZ=UTC
